<!DOCTYPE html>
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <header>
      <h1><%= title %></h1>
      <nav>
        <ul>
          <li><a href="">About</a></li>
          <li><a href="">Compare</a></li>
          <li><a href="">Overview</a></li>
        </ul>
      </nav>
    </header>
    <form>
      <select id="series" name="series" />
        <option value="accessibility-and-performance">Accessibility and Performance</option>
        <option value="accessibility-and-performance">Accessibility and Best Practice</option>
      </select>
      <!--label for="country">Compare</label-->
      <!--select id="country" name="country" />
        <% reports.forEach(function(report, i, arr){ -%>
          <option value="<%= report.name %>"><%= report.name %></option>
        <% }); -%>
      </select>
      <span>vs.</span-->
      <!--label for="country">with</label-->
      <!--select name="country" />
        <% reports.forEach(function(report, i, arr){ -%>
          <option value="<%= report.name %>"><%= report.name %></option>
        <% }); -%>
      </select-->
    </form>
